
.buttons {
    -fx-background-color : #5a76a6;
}
.buttons:hover{
    -fx-background-color: #485F85;
}

.back {
    -fx-background-color:  #ba1717;
}

.back:hover{
    -fx-background-color: #7B0000;
}

.repo {
    -fx-background-color: #19620B;
}

.repo:hover{
    -fx-background-color: #124708;
}
